name: C/C++ CI

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-24.04-arm

    steps:
    - name: Download
      run: git clone https://github.com/arduino/linux-qcom.git && cd linux-qcom
    - name: Install deps
      run: sudo apt update && sudo apt install build-essential bc bison flex libssl-dev libncurses5-dev libelf-dev kernel-package fakeroot xz-utils git dwarves rsync
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
