name: C/C++ CI

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-24.04-arm

    steps:
    - name: Install Linux Kernel Make deps
      run: sudo apt-get update && sudo apt-get install build-essential bc bison flex libssl-dev libncurses5-dev libelf-dev fakeroot xz-utils git dwarves rsync
    - name: Checkout this repository
      uses: actions/checkout@v4
    - name: Checkout kernel source repo
      uses: actions/checkout@v4
      with: 
       repository: arduino/linux-qcom
       path: linux-qcom
    - name: Copy .config file to source repo  
      run: cp config-6.16.7-g0dd6551ae96b ./linux-qcom/.config
    - name: Setup make configs
      run: cd linux-qcom && scripts/config --set-str LOCALVERSION "-g0dd6551ae96b" && scripts/config --enable CONFIG_USB_LEGOTOWER
    - name: make prepare
      run: cd linux-qcom && make -C . M=./drivers/usb/misc prepare
    - name: make modules_prepare
      run: cd linux-qcom && make -C . M=./drivers/usb/misc modules_prepare
    - name: make modules
      run: cd linux-qcom && make -j$(nproc) -C . M=./drivers/usb/misc modules
    - name: Upload LEGO USB Tower driver kernel module as an artifact
      uses: actions/download-artifact@v4
      with:
        name: legousbtower.ko
        path: linux-qcom/drivers/usb/misc/legousbtower.ko
