name: C/C++ CI

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-24.04-arm

    steps:
    - name: Checkout this repository
      uses: actions/checkout@v4
    #- name: Download Uno Q Kernel Source
    #  run: git clone https://github.com/arduino/linux-qcom.git && cp /home/runner/work/UnoQKernelModules/UnoQKernelModules/config-6.16.7-g0dd6551ae96b linux-qcom && cd linux-qcom
    - name: Checkout kernel source repo
      uses: actions/checkout@v4
      with: 
       repository: arduino/linux-qcom
       path: linux-qcom
    - name: Copy .config file to source repo  
      run: cp /home/runner/work/UnoQKernelModules/UnoQKernelModules/config-6.16.7-g0dd6551ae96b /home/runner/work/UnoQKernelModules/linux-qcom
    - name: Install deps
      run: sudo apt update && sudo apt install build-essential bc bison flex libssl-dev libncurses5-dev libelf-dev fakeroot xz-utils git dwarves rsync
    - name: Setup make configs
      run: cd /home/runner/work/UnoQKernelModules/linux-qcom && ./scripts/config --set-str LOCALVERSION "-g0dd6551ae96b" && ./scripts/config --enable CONFIG_USB_LEGOTOWER
    - name: make moudules_prepare
      run: make -C . M=./drivers/usb/misc moudules_prepare
    - name: make moudules
      run: make -j$(nproc) -C . M=./drivers/usb/misc moudules
