name: C/C++ CI

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-24.04-arm

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Download Uno Q Kernel Source
      run: git clone https://github.com/arduino/linux-qcom.git && cp /home/runner/work/UnoQKernelModules/UnoQKernelModules/config-6.16.7-g0dd6551ae96b linux-qcom && cd linux-qcom
    - name: Install deps
      run: sudo apt update && sudo apt install build-essential bc bison flex libssl-dev libncurses5-dev libelf-dev fakeroot xz-utils git dwarves rsync
    - name: make moudules
      run: make moudules
